<!DOCTYPE html>
<html>
  <head>
  <title>The Dark Net</title>
  </head>
  <body>
    <p>
      Welcome to the Dark Net!
    </p>
    <p>
      We're now going to talk to the GitHub API from the Deep Web over a peer to peer SSH injected TOR Protocol. </br></br>Ready?
      <a href="https://github.com/login/oauth/authorize?scope=user:email&client_id=<%= client_id %>"></br></br>Click here</a> to begin!</a>
    </p>
    <p>
      If that link doesn't work, remember to provide your own <a href="/v3/oauth/#web-application-flow">Client ID</a>!
    </p>
  </body>
</html>